@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 15.19vh 0 0 0;
  font-family: "primary-font", serif, sans-serif;

  @include tablet {
    margin-top: 11.7vh;
  }

  @include desktop {
    margin-top: 11.1vh;
  }
}

.nav__item.nav__item--active{
  border-bottom: 7px solid $primary-light;

  @include desktop {
    border-width: 4px;
  }
}

.nav {
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  @include tablet {
    flex-direction: row;
    align-content: center;
    gap: 3.5rem;
  }

  &__title {
    text-decoration: none;
    color: $primary-light;
    text-align: center;
    margin: 0;
    padding: 1.7rem;
    font-size: 1.4rem;

    @include tablet {
      padding: 2rem 3.7rem;
    }

    @include desktop {
      padding: 2.5rem 0 0 6.5rem;
    }
  }

  &__image {
    width: 30vw;
    height: 3vh;

    @include tablet {
      min-width: 16vw;
      height: 3vh;
      width: 100%;
      margin-top: 0.5rem;
    }

    @include desktop {
      height: 2.5vh;
      width: 16vw;
      margin-top: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;

    @include tablet {
      align-items: center;
    }
  }

  &__item {
    list-style: none;
    flex: 1;
    text-align: center;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 0.5rem;
<<<<<<< HEAD
      margin-right: 6.5vw;
=======
      margin-right: 7.81vw;
>>>>>>> 9cd563079e8856079b865f9340b7a121753a0811
    }

    @include desktop {
      margin-right: 3.125vw;
<<<<<<< HEAD
      margin-left: -1.5rem;
      padding-bottom: 0.1rem;
=======
>>>>>>> 9cd563079e8856079b865f9340b7a121753a0811
    }

    &--active {
      padding-bottom: 1.2rem;

      @include tablet {
        padding: 2.55rem 0;
<<<<<<< HEAD
      }

      @include desktop {
        border-width: 3px;
=======
        border-bottom: 5px solid $primary-light;
>>>>>>> 9cd563079e8856079b865f9340b7a121753a0811
      }
    }
  }

  &__a {
    text-decoration: none;
    color: $primary-medium;
    font-size: 1.7rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.2rem;
    }

    &:hover {
      color: $primary-light;
      border-bottom: 7px solid $primary-light;
      padding: 1.2rem 3rem;

      @include tablet {
        padding: 4.2724vh 0;
        border-bottom: 5px solid $primary-light;
      }

      @include desktop {
        padding-bottom: 4.30vh;
      }
    }

    &--active {
      color: $primary-light;
      font-weight: 600;
    }
  }
}

.footer {
  padding: 3vh 3vw;
  background-color: $BandSite-Black;
  position: relative;
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    min-height: 62.5vh;
    height: 100%;
  }

  &__title {
    font-size: 3.5rem;
    line-height: $mobile-sectionHeader-height;
    margin: 3rem 0 2rem 0;
    font-weight: 600;
    color: $secondary-light;

    @include tablet {
      margin-right: 4vw;
      font-size: 3.7rem;
      margin-left: 0;
    }
  }

  &__links {
    @include tablet {
      display: flex;
      align-items: center;
      margin-left: 2.2vw;
    }

    @include desktop {
      margin-left: 9.375vw;
    }
  }

  &__image {
    height: 8vh;
    padding: 3vh 9vw 0 0;

    @include tablet {
      padding: 0 4vw 0 0;
      margin-top: 1.5rem;
      height: 3.8vh;
    }

    @include desktop {
      height: 3vh;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      gap: 2vw;
      margin-left: 2rem;
    }

    @include desktop {
      margin-left: 10vw;
    }
  }

  &__item {
    @include tablet {
      width: 25vw;
    }

    @include desktop {
      margin-right: 0;
      margin-left: 0;
      width: 21vw;
    }
  }

  &__content, &__info, &__email, &__copyright {
    color: $primary-light;
    font-size: 1.9rem;

    @include tablet {
      font-size: 1.2rem;
      line-height: $desktop-footer-height;
    }
  }

  &__content {
    font-weight: 600;
    line-height: 2rem;
    padding: 2.22vh 0;

    @include desktop {
      font-size: $desktop-sectionHeader;
      line-height: $desktop-sectionHeader-height;
    }
  }

  &__info {
    margin: 0;
    padding:0;

    @include tablet {
      margin: 1.11vh 0;
    }
  }

  &__email {
    text-decoration: none;

    @include tablet {
      margin-top: 4.44vh;
    }
  }

  &__logo {
    width: 30vw;
    margin-top: 5rem;

    @include tablet {
      position: absolute;
      top: -1.8rem;
      right: 1rem;
      width: 22vw;
      height: 3.2vh;
    }

    @include desktop {
      width: 180px;
    }
  }

  &__copyright {
    margin-top: 2vh;
    font-size: 1.4rem;

    @include tablet {
      order: 4;
      margin-left: 2.5vw;
      font-size: 1.35rem;
    }

    @include desktop {
      margin-left: 9.375vw;
      font-size: 1.2rem;
    }
  }
}
