@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 15.19vh 0 0 0;
  font-family: "primary-font", serif, sans-serif;

  @include tablet {
    margin-top: 11.7vh;
  }

  @include desktop {
    margin-top: 11.25vh;
  }
}

.nav__item.nav__item--active{
  border-bottom: 7px solid $primary-light;
}

.nav {
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  @include tablet {
    flex-direction: row;
    align-content: center;
    gap: 3.5rem;
  }

  &__title {
    text-decoration: none;
    color: $primary-light;
    text-align: center;
    margin: 0;
    padding: 1.7rem;
    font-size: 1.4rem;

    @include tablet {
      padding: 2rem 3.7rem;
    }

    @include desktop {
      padding: 2.5rem 1.5rem 2rem 10.5rem;
    }
  }

  &__image {
    height: 40px;

    @include tablet {
      height: 30px;
      margin-top: 0.5rem;
    }

    @include desktop {
      margin-top: 0;
      height: 25px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;

    @include tablet {
      align-items: center;
    }
  }

  &__item {
    list-style: none;
    flex: 1;
    text-align: center;
    padding-bottom: 1rem;


    @include tablet {
      padding-bottom: 0.5rem;
      margin-right: 6.5vw;
    }

    @include desktop {
      margin-right: 3.125vw;
    }

    &--active {
      padding-bottom: 1.2rem;

      @include tablet {
        padding: 2.55rem 0;
        border-bottom: 5px solid $primary-light;
      }
    }
  }

  &__a {
    text-decoration: none;
    color: $secondary-medium;
    font-size: 1.7rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.2rem;
    }

    &:hover {
      color: $primary-light;
      border-bottom: 7px solid $primary-light;
      padding: 1.2rem 3rem;

      @include tablet {
        padding: 2.7rem 0;
        border-bottom: 5px solid $primary-light;
      }
    }

    &--active {
      color: $primary-light;
      font-weight: 600;
    }
  }
}

.footer {
  padding: 3vh 3vw;
  background-color: $BandSite-Black;
  position: relative;
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    min-height: 62.5vh;
    height: 100%;
  }

  &__title {
    font-size: 3.5rem;
    line-height: $mobile-sectionHeader-height;
    margin: 3rem 0 2rem 0;
    font-weight: 600;
    color: $secondary-light;

    @include tablet {
      margin-right: 4vw;
      font-size: 3.7rem;
      margin-left: 0;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__links {
    @include tablet {
      display: flex;
      align-items: center;
      margin-left: 2.2vw;
    }

    @include desktop {
      margin-left: 7vw;
    }
  }

  &__image {
    height: 60px;
    padding: 1rem 4rem 0 0;

    @include tablet {
      padding: 0 4vw 0 0;
      margin-top: 1.5rem;
      height: 35px;
    }

    @include desktop {
      height: 3vh;
      padding: 0 2.7vw 0 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      gap: 2vw;
      margin-left: 2rem;
    }

    @include desktop {
      margin-left: 7vw;
    }
  }

  &__item {
    @include tablet {
      width: 25vw;
    }

    @include desktop {
      margin-right: 0;
      margin-left: 0;
      width: 18.5vw;
    }
  }

  &__content, &__info, &__email, &__copyright {
    color: $primary-light;
    font-size: 1.7rem;

    @include tablet {
      font-size: 1.2rem;
      line-height: $desktop-footer-height;
    }
  }

  &__content {
    font-weight: 600;
    line-height: 2rem;
    padding: 2.22vh 0;

    @include desktop {
      font-size: $desktop-sectionHeader;
      line-height: $desktop-sectionHeader-height;
    }

    @include desktop {
      font-size: 1.2rem;
    }
  }

  &__info {
    margin: 0;
    padding:0;

    @include tablet {
      margin: 1.11vh 0;
    }

    @include desktop {
      font-size: 1.15rem;
    }
  }

  &__email {
    text-decoration: none;

    @include tablet {
      margin-top: 4.44vh;
    }
  }

  &__logo {
    height: 40px;
    margin-top: 5rem;

    @include tablet {
      position: absolute;
      top: -2rem;
      right: 1vw;
      height: 30px;
    }

    @include desktop {
      top: -2rem;
      right: 5.5rem;
      height: 25px;
    }
  }

  &__copyright {
    margin-top: 2vh;
    font-size: 1.4rem;

    @include tablet {
      order: 4;
      margin-left: 2.5vw;
      font-size: 1.35rem;
    }

    @include desktop {
      margin-left: 7vw;
      font-size: 1.15rem;
    }
  }
}
