@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "primary-font";
  src:
      url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
      url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
}

@font-face {
  font-family: "primary-font";
  src:
      url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
      url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
}

@font-face {
  font-family: "primary-font";
  src:
      url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
      url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: primary-font, sans-serif;
}

.nav {
  height: 20%;
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    color: $primary-light;
    text-align: center;
    margin: 0;
    padding: 1.25rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
    flex: 1;
    text-align: center;

    &-active {
      border-bottom: 6px solid $primary-light;
      padding-bottom: 1.27rem;
    }
  }

  &__a {
    text-decoration: none;
    color: $primary-medium;
    font-size: 1.75rem;


    &-active {
      color: $primary-light;
      font-weight: 600;
    }
  }
}