@use "partials/variables" as *;
@use "partials/global" as *;
@use "partials/mixins" as *;

.hero {
  height: 44vh;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;

  &::before{
    background: rgba($primary-dark, 0.5);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
  }

  &__title {
    color: $primary-light;
    font-size: 4.6rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding: 3rem;
  }
}

.about {
  padding: 3rem;

  &__title {
    font-size: 4.5rem;
    margin: 0.5rem 0 2rem 0;
    font-weight: 600;
  }

  &__image {
    height: 100%;
    width: 100%;
    max-height: 36vh;
  }

  &__quote {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-top: 3rem;
    margin-bottom: -2.7rem;
  }

  &__paragraph {
    font-size: 2.45rem;
    letter-spacing: 0.06rem;
    line-height: 3.7rem;
    color: $primary-dark;

    &-title {
      font-size: 2.7rem;
      margin-top: 7rem;
      font-weight: 500;
      color: $secondary-dark;
    }
  }
}

.gallery {
  padding: 3rem;
  background-color: $secondary-light;

  &__title {
    font-size: 4.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  &__image {
    height: 100%;
    width: 100%;
    max-height: 37.5vh;
    margin-top: 3rem;
  }
}