@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: primary-font, sans-serif;
}

.nav {
  height: 17.5vh;
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
.nav__title {
  font-size: 4.5rem;
  font-weight: 300;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 2rem;
}
.nav__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.nav__item {
  list-style: none;
  flex: 1;
  text-align: center;
}
.nav__item--active {
  border-bottom: 10px solid #FFFFFF;
  padding-bottom: 1.15rem;
}
.nav__a {
  text-decoration: none;
  color: #AFAFAF;
  font-size: 2.5rem;
}
.nav__a--active {
  color: #FFFFFF;
  font-weight: 600;
}

.footer {
  padding: 3rem;
  background-color: #323232;
}
.footer__title {
  font-size: 4.5rem;
  margin: 2rem 0 1.5rem 0;
  font-weight: 600;
  color: #FAFAFA;
}
.footer__image {
  height: 7.7vh;
  padding: 2rem 5rem 0 0;
}
.footer__content, .footer__info, .footer__email, .footer__copyright {
  font-size: 2.45rem;
  color: #FFFFFF;
  line-height: 3.5rem;
}
.footer__content {
  font-weight: 600;
  padding: 1.35rem 0;
}
.footer__info {
  margin: 0;
  padding: -0.5rem 0;
}
.footer__logo {
  height: 100px;
  width: 340px;
  margin-top: 5rem;
}
.footer__copyright {
  margin-top: 1.15rem;
  font-size: 2.1rem;
}

.hero {
  height: 44vh;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
.hero::before {
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.hero__title {
  color: #FFFFFF;
  font-size: 4.6rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 3rem;
}

.about {
  padding: 3rem;
}
.about__title {
  font-size: 4.5rem;
  margin: 0.5rem 0 2rem 0;
  font-weight: 600;
}
.about__image {
  height: 100%;
  width: 100%;
  max-height: 36vh;
}
.about__quote {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin-top: 3rem;
  margin-bottom: -2.7rem;
}
.about__paragraph {
  font-size: 2.45rem;
  letter-spacing: 0.06rem;
  line-height: 3.7rem;
  color: #323232;
}
.about__paragraph-title {
  font-size: 2.7rem;
  margin-top: 7rem;
  font-weight: 500;
  color: #000000;
}

.gallery {
  padding: 3rem;
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 4.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
.gallery__image {
  height: 100%;
  width: 100%;
  max-height: 37.5vh;
  margin-top: 3rem;
}

/*# sourceMappingURL=bio.css.map */
