@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 16vh 0 0 0;
  font-family: "primary-font", serif;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
.nav__title {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 1.7rem;
}
.nav__image {
  height: 4vh;
}
.nav__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
.nav__item {
  list-style: none;
  flex: 1;
  text-align: center;
  padding-bottom: 1rem;
}
.nav__item--active {
  border-bottom: 7px solid #FFFFFF;
  padding-bottom: 1.2rem;
}
.nav__a {
  text-decoration: none;
  color: #AFAFAF;
  font-size: 1.7rem;
}
.nav__a--active {
  color: #FFFFFF;
  font-weight: 600;
}

.footer {
  padding: 3rem;
  background-color: #323232;
}
.footer__title {
  font-size: 3rem;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 600;
  color: #FAFAFA;
}
.footer__image {
  height: 7.7vh;
  padding: 2rem 5rem 0 0;
}
.footer__content, .footer__info, .footer__email, .footer__copyright {
  font-size: 1.7rem;
  color: #FFFFFF;
}
.footer__content {
  font-weight: 600;
  padding: 1rem 0;
}
.footer__info {
  margin: 0;
  padding: 0;
}
.footer__logo {
  height: 4vh;
  margin-top: 5rem;
}
.footer__copyright {
  margin-top: 1.15rem;
  font-size: 1.4rem;
}

.hero {
  height: 41vh;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
.hero::before {
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.hero__title {
  color: #FFFFFF;
  font-size: 3.1rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 3rem;
  letter-spacing: 0.04rem;
}

.about {
  padding: 2rem;
}
.about__title {
  font-size: 3.1rem;
  margin: 0 0 2rem 0;
  font-weight: 600;
}
.about__image {
  height: 100%;
  width: 100%;
  max-height: 36vh;
  margin-bottom: 1.5rem;
}
.about__quote {
  font-size: 1.85rem;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: 0.05rem;
  margin: 0 0 0.8rem 0;
}
.about__paragraph {
  font-size: 1.74rem;
  line-height: 2.3rem;
  letter-spacing: 0.01rem;
  color: #323232;
}
.about__paragraph-title {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #000000;
}

.gallery {
  padding: 2rem;
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
}
.gallery__image {
  height: 100%;
  width: 100%;
  max-height: 37.5vh;
  margin-top: 2rem;
}

/*# sourceMappingURL=bio.css.map */
