@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 15.19vh 0 0 0;
  font-family: "primary-font", serif, sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 11.7vh;
  }
}
@media screen and (min-width: 1280px) {
  body {
    margin-top: 11.25vh;
  }
}

.nav__item.nav__item--active {
  border-bottom: 7px solid #FFFFFF;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-content: center;
    gap: 3.5rem;
  }
}
.nav__title {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 1.7rem;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .nav__title {
    padding: 2rem 3.7rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__title {
    padding: 2.5rem 1.5rem 2rem 2.5rem;
  }
}
.nav__image {
  height: 40px;
}
@media screen and (min-width: 768px) {
  .nav__image {
    height: 30px;
    margin-top: 0.5rem;
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    align-items: center;
  }
}
.nav__item {
  list-style: none;
  flex: 1;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding-bottom: 0.5rem;
    margin-right: 6.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .nav__item {
    margin-right: 3.125vw;
  }
}
.nav__item--active {
  padding-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    padding: 2.55rem 0;
    border-bottom: 5px solid #FFFFFF;
  }
}
.nav__a {
  text-decoration: none;
  color: #AFAFAF;
  font-size: 1.7rem;
}
@media screen and (min-width: 768px) {
  .nav__a {
    font-size: 1.5rem;
  }
}
.nav__a:hover {
  color: #FFFFFF;
  border-bottom: 7px solid #FFFFFF;
  padding: 1.2rem 3rem;
}
@media screen and (min-width: 768px) {
  .nav__a:hover {
    padding: 4.2724vh 0;
    border-bottom: 5px solid #FFFFFF;
  }
}
.nav__a--active {
  color: #FFFFFF;
  font-weight: 600;
}

.footer {
  padding: 3vh 3vw;
  background-color: #323232;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    min-height: 62.5vh;
    height: 100%;
  }
}
.footer__title {
  font-size: 3.5rem;
  line-height: 2rem;
  margin: 3rem 0 2rem 0;
  font-weight: 600;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-right: 4vw;
    font-size: 3.7rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    align-items: center;
    margin-left: 2.2vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer__links {
    margin-left: 7vw;
  }
}
.footer__image {
  height: 60px;
  padding: 1rem 4rem 0 0;
}
@media screen and (min-width: 768px) {
  .footer__image {
    padding: 0 4vw 0 0;
    margin-top: 1.5rem;
    height: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__image {
    height: 3vh;
    padding: 0 2.7vw 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    gap: 2vw;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    margin-left: 7vw;
  }
}
@media screen and (min-width: 768px) {
  .footer__item {
    width: 25vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer__item {
    margin-right: 0;
    margin-left: 0;
    width: 18.5vw;
  }
}
.footer__content, .footer__info, .footer__email, .footer__copyright {
  color: #FFFFFF;
  font-size: 1.7rem;
}
@media screen and (min-width: 768px) {
  .footer__content, .footer__info, .footer__email, .footer__copyright {
    font-size: 1.2rem;
    line-height: 1.125rem;
  }
}
.footer__content {
  font-weight: 600;
  line-height: 2rem;
  padding: 2.22vh 0;
}
@media screen and (min-width: 1280px) {
  .footer__content {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__content {
    font-size: 1.2rem;
  }
}
.footer__info {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin: 1.11vh 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    font-size: 1.15rem;
  }
}
.footer__email {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__email {
    margin-top: 4.44vh;
  }
}
.footer__logo {
  height: 40px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: -2rem;
    right: 1vw;
    height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    top: -2rem;
    right: 5.5rem;
    height: 25px;
  }
}
.footer__copyright {
  margin-top: 2vh;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    order: 4;
    margin-left: 2.5vw;
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-left: 7vw;
    font-size: 1.15rem;
  }
}

body {
  margin-top: 16.2vh;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 12vh;
  }
}

.hero {
  height: 58vh;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 83vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 85vh;
  }
}
.hero::before {
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.hero__title {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  letter-spacing: 0.04rem;
  padding-left: 2rem;
  margin-top: 4rem;
  margin-bottom: 2.8rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2.45rem;
    padding-left: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 11rem;
  }
}
.hero__sub {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 3.1rem;
  font-weight: 600;
  width: 75vw;
  padding-left: 2rem;
  letter-spacing: 0.05rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .hero__sub {
    font-size: 6.3rem;
    padding-left: 3.5rem;
    font-weight: 600;
    margin-bottom: 2.1rem;
  }
}
.hero__iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 250px;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__iframe {
    height: 300px;
    width: 62%;
    padding-left: 4rem;
  }
}

.shows {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
}
.shows__title {
  font-size: 3.07rem;
  padding-left: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 3.6rem;
  }
}
.shows__list {
  list-style: none;
  padding: 0;
}
.shows__item {
  padding: 3rem 2rem 2rem 2rem;
  border-bottom: #E1E1E1 2px solid;
}
@media screen and (min-width: 768px) {
  .shows__item {
    display: flex;
    align-items: center;
    padding-right: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.shows__label {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  color: #AFAFAF;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: none;
  }
}
.shows__label-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__label-tablet {
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    color: #AFAFAF;
    font-weight: 600;
    margin: 1rem 17.25vw 0.5rem 1rem;
  }
}
.shows__date {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.04rem;
}
@media screen and (min-width: 768px) {
  .shows__date {
    font-size: 1.35rem;
    margin: 0;
    width: 13rem;
  }
}
.shows__venue, .shows__location {
  font-size: 1.65rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .shows__venue, .shows__location {
    font-size: 1.35rem;
    margin-left: 5.5rem;
    margin-right: auto;
    width: 13rem;
  }
}
.shows__location {
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .shows__location {
    font-size: 1.45rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.shows__button {
  width: 100%;
  background-color: #323232;
  color: white;
  height: 8.5vh;
  border: none;
  border-radius: 7px;
  font-size: 1.85rem;
  margin-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 19.8vw;
    margin: 0 0 0 auto;
    font-size: 1.45rem;
    height: 6.7vh;
  }
}

/*# sourceMappingURL=shows.css.map */
